/*###################### TAG SELECTORS###########################*/
*{
    margin: 0;
    border: 0;
}
/*
p{
    column-count: 3;
    column-rule: 10px dashed blue;
}
*/
a{
    color: #ffb71c;
    text-decoration: none;
}
article{
    /*background-color: linen;*/
    background-color:#ffe227;
    width: 70%;
    padding: 30px;
    padding-top: 50px;
    margin: 0px 0px 0px 0px;
    float: right;
    /*
    position: relative;
    left: 600px;
    top: -1330px;
    display: inline-block;*/

}
body{
    /*background-color:  #ccf2f4;*/
    background-color:black;
    padding-left: 10px;
    font-family: 'Alatsi',sans-serif;
    font-weight: normal;
    font-size: 1.25rem; /*16px=100%==1em
    for 90px=90px/16=562.5
    *but use rem*/
}

hr{
    border-style: none;
    border-top-style:inset;
    /*border-color: #00adb5;*/
    border-color:black;
    border-width:5px;
    width: 15%;
    border-radius: 4px;
}
h1{
    /*color: #00adb5;*/
    font-size: 80px;
    font-weight:bolder;
    line-height: 2;
}
table{
    /*background-color: linen;*/
    background-color:black;

}
img{
    margin: 20px;
    /*
    position:static;
    position:fixed;*/

}
/*
img:hover
{
    border-radius: 200%;
    background-color:red;
}
*/
/*######################## CLASS SELECTORS############################
* pro- class can be used in any no.of element
* can ber inherited
*/


.contact{
    margin: 20px;
    width:fit-content;
}
.dp{
    position: relative;
    left: 80px;
    top: 20px;
}
.leftcontent{
    display:inline-block;
    color: #ffb71c;
    margin: 0px 0px 10px 10px;
    width:auto;
    position: relative;
    left: 20px;
}
.name{
    text-decoration: underline;
}
.SKILLSSUMMARY{
    margin: 20px;
    width:fit-content;
    position: relative;
    top: 10px;
}
.SOFTSKILLS{
    margin: 20px;
    width:fit-content;
    position: relative;
    top: 10px;
}
.ACHIEVEMENTS{
    margin: 20px;
    width:fit-content;
    position: relative;
    top: 10px;
}
.select:hover
{
    border-radius: 20px;
    background: #19191a;
}

/*
.dp{
    background-color: red;
}
.icon
{
    background-color: black;
}
*/
/*########################## ID SELECTORS ###############################
* con - *id can be used in only 1 element 
        *it should be unique
*/

/*
#content
{
    background-color:red;
}
*/
/*###############################button website=https://cssbuttoncreator.com/ ################################################*/
.BUTTON_SGD {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFAE00;
    font-family: Brush Script MT;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    background-color: #000000;
    -webkit-box-shadow: inset 1px 1px 20px 0 #000000;
    -moz-box-shadow: inset 1px 1px 20px 0 #000000;
    box-shadow: inset 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #FFAE00;
    border: solid #1E1F20 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_SGD:hover {
    background: #19191a;
    border: solid #000000 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }